<!doctype html>
<html>
	<head>
     <meta charset="UTF-8">
        <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/script/styleconnexion.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet"  href ="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
        <link rel="stylesheet" href="/script/style.css" />
                
      </head>
    <body>
            <h1>Share your life</h1>
            <h3></h3>
            
  <div class = "container">
	<div class="wrapper">
		<form class="form" role="form" method="get" action="/profil" accept-charset="UTF-8" id="login-nav">       
		    <h3 class="form-signin-heading">Veuillez vous connecter</h3>
			  <hr class="colorgraph"><br>
			  
			  <input type="text" class="form-control" name="Username" placeholder="Username" required="" autofocus="" />
			  <input type="password" class="form-control" name="Password" placeholder="Password" required=""/>     		  
			 
			  <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit">Se connecter</button>  			
		</form>			
	</div>
</div>
</div>

</body>
<footer>
	<p>© 2017<a style="color:#0a93a6; text-decoration:none;" href="#">Partage Photos et vidéos</p>
 </footer>

 <style>
 body{
    background:url('imageFond.jpg');
    padding:50px;
    text-align: center;  
}
 </style>
</html>