<!DOCTYPE html>
<html lang="en">
<head></head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    
  </style>
</head>
<body>

    

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
          
          
      <h3>Bienvenue <%= user %> </h3>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="" id="accueil">Home</a></li>
        <li><a href="" id="friends">Friends</a></li>
        <li><a href="#section3" id="photos" >Photos</a></li>
        <li><a href="#test" id="chercherAmis" >New Friends</a></li>
        <li><a href="http://localhost:8080/users/Authentification" id="deconnexion">Déconnexion</a></li>
      </ul><br>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Blog..">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </div>

    <div class="col-sm-9">
      <h4><small>Actualités</small></h4>
      <hr>
      <h2>Hello</h2>
      <h5><span class="glyphicon glyphicon-time"></span>  Post by  ,OCT 19, 2017.</h5>
     
      <p>hey ! i'm Aminata </p>
      
      <h4><small>Actualités</small></h4>
      <hr>
      <h2>Hello2</h2>
      <h5><span class="glyphicon glyphicon-time"></span> Post by Othmane, Sep 24, 2017.</h5>
      
      <p>Salut!</p>
      <hr>

      <h4>Commenter:</h4>
      <form role="form">
        <div class="form-group">
          <textarea class="form-control" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-success">Envoyer</button>
      </form>
      <br><br>
      
      <p><span class="badge">2</span> Commentaires de vos amis:</p><br>
      
      <div class="row">
        <div class="col-sm-2 text-center">
          <img src="bandmember.jpg" class="img-circle" height="65" width="65" alt="Avatar_amina"> <! image de l'avatar de l'ami >
        </div>
        <div class="col-sm-10">
          <h4>aminata<small>Sep 29, 2017, 9:12 PM</small></h4>
          <p>test test test test test test test test</p>
        </div>
        <div class="col-sm-2 text-center">
          <img src="bird.jpg" class="img-circle" height="65" width="65" alt="Avatar_othmane"> <! image de l'avatar de l'ami >
        </div>
        <div class="col-sm-10">
          <h4>othmane <small>Sep 25, 2017, 8:25 PM</small></h4>
          <p>test test test test test test test test test test test test test test test test test test test test test test test test</p>
          <br>
           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var jeton = localStorage.getItem("token");
  var id_user = localStorage.getItem("id_user");
  
  $("#deconnexion").on("click", function(event){
    localStorage.removeItem("token");
    localStorage.removeItem("id_user");
    console.log("je me suis deconnecter");
  });

  $("#friends").on("click", function(event){
    
     var params = {'jetons':jeton};
     $.post("/users/friends",params,function(){
      window.location="http://localhost:8080/users/friends?id="+id_user+"&jetons="+jeton;
     });
    
    event.preventDefault();
          return false;
  });

  $("#photos").on("click", function(event){
    window.location="http://localhost:8080/profil?id="+id_user+"&jetons="+jeton;
    console.log("je suis dans le profil d'ami");
    event.preventDefault();
          return false;
  });

  $("#accueil").on("click", function(event){
    window.location="http://localhost:8080/users/Accueil?id="+id_user+"&jetons="+jeton;
    console.log("je suis dans le home");
    event.preventDefault();
          return false;
  });

  $("#chercherAmis").on("click",function(event){
   
   var params = {'jetons':jeton};
     $.post("/users/ChercherAmis",params,function(){

      window.location="http://localhost:8080/users/ChercherAmis?id="+id_user+"&jetons="+jeton;
      
     });
     event.preventDefault();
          return false;
  });
  
      
  </script>

<footer class="container-fluid">
  <p>Footer Text</p>
</footer>

</body>
</html>